<div class="graphs">
    <div class="graph">
        <div class="circle">
            <div class="progress">
                <div class="progress-part left">
                    <div class="filler"></div>
                </div>
                <div class="progress-part right">
                    <div class="filler"></div>
                </div>
            </div>
            <div class="info-box">
                <span>70%</span>
            </div>
        </div>
    </div>
    <div class="graph graph-thin">
        <div class="circle">
            <div class="progress">
                <div class="progress-part left">
                    <div class="filler"></div>
                </div>
                <div class="progress-part right">
                    <div class="filler"></div>
                </div>
            </div>
            <div class="info-box">
                <span>70%</span>
            </div>
        </div>
    </div>
    <div class="graph graph-transparent">
        <div class="circle">
            <div class="progress">
                <div class="progress-part left">
                    <div class="filler"></div>
                </div>
                <div class="progress-part right">
                    <div class="filler"></div>
                </div>
            </div>
            <div class="info-box">
                <span>45%</span>
            </div>
        </div>
    </div>
</div>