<div class="rate">
    <div class="rate-stars">
        <i class="fa fa-star active"></i>
        <i class="fa fa-star active"></i>
        <i class="fa fa-star active"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </div>
    <div class="rate-hearts">
        <i class="fa fa-heart active"></i>
        <i class="fa fa-heart active"></i>
        <i class="fa fa-heart active"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
    </div>
</div>