.navbar-collapse {
  line-height: 50px;
}
.addNew-box {
  width: 700px;
  margin: 0 auto;
}
.dashboard {
  padding: 50px;
}
.dashboard .alert {
  float: left;
  min-height: 120px;
  width: 200px;
  margin: 20px;
}
.addNew-box .control-label {
  margin-bottom: 20px;
}
