@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
.border-radius {
  border-radius: 5px;
}
.item {
  font: 16px 'Roboto Condensed', sans-serif;
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  border-bottom: 0;
  padding: 10px 20px;
}
body {
  padding: 0;
  margin: 0;
}
header {
  height: 75px;
  margin-bottom: 75px;
  background: #f5f5f5;
  border-bottom: 2px solid #dcdcdc;
}
#searchBox {
  width: 60%;
  margin: 0 auto 75px;
  padding: 20px 25px 0 20px;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
  border-radius: 5px;
}
#searchBox div {
  margin: 0 auto 25px;
}
#searchBox .input-group input,
#searchBox .input-group button {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  padding: 0 10px;
  font: 14px 'Roboto Condensed', sans-serif;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}
#searchBox .input-group button {
  background: #f0483d;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all linear 0.2s;
}
#searchBox .input-group button:hover {
  background: #f25e55;
}
#searchResult ul {
  margin: 0 auto 20px;
  width: 90%;
}
#searchResult ul li {
  font: 16px 'Roboto Condensed', sans-serif;
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  border-bottom: 0;
  padding: 10px 20px;
}
#searchResult ul li:last-child {
  border-bottom: 1px solid #dcdcdc;
}
#searchResult .place-item {
  cursor: pointer;
}
#searchResult .place-item:hover {
  color: #f25e55;
}
#searchResult .place-icon {
  vertical-align: middle;
  margin-right: 20px;
}
#searchResult .selected-place {
  box-sizing: border-box;
  height: 100px;
  padding-left: 20px;
  width: 90%;
  color: #f58b84;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  font: 20px/100px 'Roboto Condensed', sans-serif;
  overflow: hidden;
  border-radius: 5px;
}
.animate-if.ng-enter,
.animate-if.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
}
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0;
}
.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  transition: all linear 1s;
  opacity: 0;
}
.animate-repeat.ng-enter.ng-enter-active,
.animate-repeat.ng-move.ng-move-active {
  opacity: 1;
}
