<nav class="nav-bar">
    <div class="nav-bar_btn-holder">
        <div class="nav-bar_btn">
            <div class="str_helper top"></div>
            <div class="str_helper middle"></div>
            <div class="str_helper"></div>
        </div>
    </div>
    <ul class="nav-bar_items-box">
        <li class="nav-bar_item">
            <p class="nb_item-title">home</p>
            <ul class="nb_item-list">
                <li class="second-level-item">About me</li>
                <li class="second-level-item">Hire me</li>
            </ul>
        </li>
        <li class="nav-bar_item">
            <p class="nb_item-title">about</p>
        </li>
        <li class="nav-bar_item">
            <p class="nb_item-title">service</p>
        <li class="nav-bar_item">
            <p class="nb_item-title">contact</p>
            <ul class="nb_item-list">
                <li class="second-level-item">Location</li>
                <li class="second-level-item">Telephone</li>
            </ul>
        </li>
    </ul>
    <form class="nav-bar_search-box">
        <label>
            <i class="fa fa-search search-icon"></i>
            <input class="nb_search-field" type="text" placeholder="Search"/>
        </label>
        <ul class="nb_search-submenu">
            <li class="second-level-item">Contact Us</li>
            <li class="second-level-item">Service</li>
        </ul>
    </form>
</nav>