doctype html
html
  head
    title= title
    // polymer components
    link(rel='import', href='libs/polymer/polymer.html')
    link(rel='import', href='libs/google-chart/google-chart.html')
    link(rel='import', href='components/base.html')
    // javascript files
    script(rel='import', src='libs/webcomponentsjs/webcomponents-lite.js')
    script(rel='import', src='main.js', defer)
  body
    block content
      include indicators.jade