.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.product {
  width: 350px;
  margin: 10px;
}

.edit-product-dialog h3 {
  text-align: center;
}

.pagination-wrapper {
  width: 100%;
  text-align: center;
}
