.bar-header {
    height: 6.4em;
    padding: 0;
    background: #1c1b20 none;
    border-top: 2px solid #252429;
    border-bottom: 2px solid #0d0c0f;
    box-shadow: 0 5px 5px 0 rgba(37,36,41,1);
}
.header-title {
    flex-grow: 1;
    align-self: center;
    margin: 0;
    color: rgba(254,193,88,1);
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
}
.side-bar-btn {
    width: 8.2em;
    border-right: 2px solid #131316;
    background: url('../img/side-bar-icon.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}
.btn-refresh {
    visibility: hidden;
    background: url('../img/refresh-icon.png') no-repeat center center;
}
