body {
    font-size: 62.5%;
}
.bar-header {
    height: 6.4em;
    padding: 0;
    background-color: #1c1b20;
    border-top: 2px solid #252429;
    border-bottom: 2px solid #0d0c0f;
}
.header-title {
    flex-grow: 1;
    align-self: center;
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 33px;
    font-weight: 400;
    text-transform: uppercase;
}
.side-bar-btn {
    width: 8.2em;
    border-right: 2px solid #131316;
    background: url('../img/side-bar-icon.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}
.btn-refresh {
    background: url('../img/refresh-icon.png') no-repeat center center;
}