<div class="drop-downs">
    <div class="drop-down-group black-theme arrow-right small">
        <button class="small">small</button>
        <ul class="dropdown">
            <li class="second-level-item">Contact Us</li>
            <li class="second-level-item">Service</li>
        </ul>
    </div>
    <div class="drop-down-group black-theme arrow-right big">
        <button class="big">dropdown</button>
        <ul class="dropdown">
            <li class="second-level-item">Contact Us</li>
            <li class="second-level-item">Service</li>
        </ul>
    </div>
    <div class="drop-down-group black-theme arrow-right huge">
        <button class="huge">dropdown</button>
        <ul class="dropdown">
            <li class="second-level-item">Contact Us</li>
            <li class="second-level-item">Service</li>
        </ul>
    </div>
</div>
<div class="drop-downs-scrolled">
    <div class="drop-down-group black-theme arrow-right small scrolled list-hide">
        <button class="small">small</button>
    </div>
    <div class="drop-down-group black-theme arrow-right big scrolled list-hide">
        <button class="big">dropdown</button>
    </div>
    <div class="drop-down-group black-theme arrow-right huge scrolled list-hide">
        <button class="huge">dropdown</button>
    </div>
    <div class="drop-down-group black-theme arrow-right huge scrolled list-show">
        <button class="huge">dropdown</button>
        <ul class="dropdown">
            <li class="scroll-bar"><span class="toggle"></span></li>
            <li class="second-level-item">Contact Us</li>
            <li class="second-level-item">Service</li>
            <li class="second-level-item">Contact Us</li>
            <li class="second-level-item">Service</li>
            <li class="second-level-item">Contact Us</li>
        </ul>
    </div>
</div>