<div class="dashboard" ui-view>
    <div class="note-wrapper" ng-repeat="item in dataList | filter: search">
        <h3>{{item.title}}<a ng-href="#/dashboard/{{item.$id}}" class="fa fa-eye expand"></a></h3>
        <span class="category label label-success">{{item.category}}</span>
        <span class="email label label-info">{{item.email}}</span>
        <h5>Releated tegs:</h5>
        <ul class="tags">
            <li class="relatedTags" ng-repeat="tag in item.tags">{{tag}}</li>
        </ul>
        <p>{{item.description}}</p>
    </div>
</div>