<div class="progress-bars">
    <div class="p-bar-holder">
        <span class="p-bar-loader"></span>
        <span class="toggle"></span>
    </div>
    <div class="p-bar-holder">
        <span class="p-bar-loader"></span>
    </div>
    <!-- Medium progress bars with tooltip -->
    <div class="p-bar-holder medium">
                    <span class="p-bar-loader">
                        <span class="p-bar-tooltip">50%</span>
                    </span>
    </div>
    <div class="p-bar-holder medium">
        <span class="p-bar-loader"></span>
    </div>
    <div class="p-bar-holder medium">
        <span class="p-bar-loader"></span>
    </div>
    <!-- Medium progress bars with toggle -->
    <div class="p-bar-holder medium">
                    <span class="p-bar-loader">
                        <span class="toggle"></span>
                    </span>
    </div>
    <div class="p-bar-holder medium">
                    <span class="p-bar-loader">
                        <span class="toggle"></span>
                    </span>
    </div>
    <div class="p-bar-holder medium">
                    <span class="p-bar-loader">
                        <span class="toggle"></span>
                    </span>
    </div>
    <!-- Medium progress bars with range toggle -->
    <div class="p-bar-holder medium tg-range">
        <span class="p-bar-loader"></span>
        <span class="toggle default tg-left">1</span>
        <span class="toggle default tg-middle">2</span>
        <span class="toggle default tg-right">3</span>
    </div>
    <div class="p-bar-holder medium tg-range">
        <span class="toggle marked tg-left">1</span>
        <span class="toggle marked tg-middle">2</span>
        <span class="toggle default tg-right">3</span>
                    <span class="p-bar-loader">
                    </span>
    </div>
    <div class="p-bar-holder medium tg-range">
        <span class="p-bar-loader"></span>
        <span class="toggle marked tg-left">1</span>
        <span class="toggle marked tg-middle">2</span>
        <span class="toggle marked tg-right">3</span>
    </div>
    <div class="p-bar-holder medium tg-range">
        <span class="p-bar-loader"></span>
        <span class="toggle marked tg-first"></span>
        <span class="toggle marked tg-second"></span>
    </div>
</div>
