<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Box&amp;Cube</title>
	<link rel="stylesheet" href="../public/client/css/style.css">
	<link rel="stylesheet" href="../public/client/css/rateit.css">
	<script src="../public/client/js/jquery-1.9.1.js"></script>
	<script src="../public/client/js/jquery.rateit.js" type="text/javascript"></script>
	<script src="../public/client/js/autoscaling-menu.js" type="text/javascript"></script>
</head>
<body>
	<div id="wrapper">
		<div class="header-holder">
			<div id="header">
				<header class="header-box">
					<h1 id="logo">
						<a href="#logo">Box&amp;Cube</a>
					</h1>
					<div class="search-content">
						<div class="subscribe-holder">
							<span>Please subscribe to:</span>
							<ul class="add-nav">
								<li><a href="#subscribe">Posts</a></li>
								<li><a href="#subscribe">Comments</a></li>
								<li><a href="#subscribe">Email</a></li>
							</ul>
						</div>
						<form action="#" class="search-form">
							<fieldset>
								<div class="submit-setter">
									<input type="submit" name="submit-look" value="">
								</div>
								<div class="input-setter">
									<input type="text" name="search-field" placeholder="Enter Search Keyword">
								</div>
							</fieldset>
						</form>
					</div>
					<ul class="sub-nav">
						<li><a href="#nav">Home</a></li>
						<li><a href="#nav">About</a></li>
						<li><a href="#nav">Contact</a></li>
						<li><a href="#nav">Blog</a></li>
					</ul>
				</header>
			</div>
			<nav id="nav">
				<div class="nav-holder">
					<ul id="main-nav">
						<li><a href="#nav">WEB PROFESSIONALS</a></li>
						<li><a href="#nav">BUSINESS</a></li>
						<li><a href="#nav">WEB DSIGN</a></li>
						<li><a href="#nav">MEDIA</a></li>
						<li><a href="#nav">ENTERTAINTMENT</a></li>
						<li><a href="#nav">NON-PROFIT</a></li>
						<li><a href="#nav">INSTITUTIONS</a></li>
						<li><a href="#nav">PORTALS</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div id="content">
			<div class="content-holder">
				<ul class="prod-list">
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">Let's Make Movies</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-1.png" height="118" width="118" alt="Product_1">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">Paint Me Now</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-2.png" height="120" width="117" alt="Product_2">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">System Gears</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-3.png" height="124" width="118" alt="Product_2">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">Magic Wand</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-4.png" height="127" width="126" alt="Product_4">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">iPhone Icons</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-5.png" height="118" width="118" alt="Product_5">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">Contact Me Icons</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-6.png" height="127" width="128" alt="Product_6">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">Hardware Support</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-7.png" height="118" width="118" alt="Product_1">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">Website Review</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-8.png" height="124" width="121" alt="Product_8">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">Blue Tubes</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-9.png" height="122" width="113" alt="Product_9">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">Throw Me Away</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-10.png" height="122" width="110" alt="Product_10">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">Got Goffee?</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-11.png" height="117" width="128" alt="Product_11">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
					<li>
						<div class="caption">
							<span class="review"><a href="#11">12</a></span>
							<h2><a href="#main">Housing For You!</a></h2>
						</div>
						<div class="prod-img-holder">
							<figure class="prod-img">
								<img src="../public/client/images/img-12.png" height="127" width="111" alt="Product_12">
							</figure>
						</div>
						<div class="loc-footer">
							<div class="rateit"></div>
							<div class="rate-text">
								<a href="#main1">Write a Comment</a>
							</div>
						</div>
					</li>
				</ul>
				<div class="page-holder">
					<div class="page-number">
						<ul class="pagination">
							<li><a href="#pag" class="active">1</a></li>
							<li><a href="#pag">2</a></li>
							<li><a href="#pag">3</a></li>
							<li><a href="#pag">4</a></li>
							<li><a href="#pag">5</a></li>
							<li><a href="#pag">6</a></li>
							<li><a href="#pag">7</a></li>
							<li><a href="#pag">8</a></li>
							<li><a href="#pag">9</a></li>
						</ul>
					</div>
					<div class="page-info">
						<span>You are looking at <strong>page 1 of 9</strong></span>
					</div>
				</div>
			</div>
		</div>
		<footer id="footer">
			<div class="services-holder">
				<div class="list-box">
					<h2>About Us</h2>
					<ul>
						<li><a href="#sub-nav">Our Company</a></li>
						<li><a href="#sub-nav">Our Blog</a></li>
						<li><a href="#sub-nav">Submit a Site</a></li>
						<li><a href="#sub-nav">Contact Us</a></li>
						<li><a href="#sub-nav">Help &amp; Terms</a></li>
						<li><a href="#sub-nav">Read Our FAQ</a></li>
					</ul>
				</div>
				<div class="list-box topics">
					<h2>Popular Topics</h2>
					<ul>
						<li><a href="#sub-nav">Trends &amp; Technology</a><span> (30)</span></li>
						<li><a href="#sub-nav">Design Companies</a><span> (2699)</span></li>
						<li><a href="#sub-nav">Design Freelancers</a><span> (23)</span></li>
						<li><a href="#sub-nav">Web Portfolios</a><span> (16)</span></li>
						<li><a href="#sub-nav">Web Development</a><span> (23)</span></li>
						<li><a href="#sub-nav">General Icons</a><span> (34)</span></li>
					</ul>
				</div>
				<div class="list-box social-network-box">
					<h2>Follow Us Here</h2>
					<ul class="social-network">
						<li><a href="#favicon" class="icon_1" title="facebook"></a></li>
						<li><a href="#favicon" class="icon_2" title="favicon"></a></li>
						<li><a href="#favicon" class="icon_3" title="favicon"></a></li>
						<li><a href="#favicon" class="icon_4" title="favicon"></a></li>
						<li><a href="#favicon" class="icon_5" title="favicon"></a></li>
						<li><a href="#favicon" class="icon_6" title="favicon"></a></li>
						<li><a href="#favicon" class="icon_7" title="favicon"></a></li>
						<li><a href="#favicon" class="icon_8" title="RSS"></a></li>
						<li><a href="#favicon" class="icon_9" title="digg"></a></li>
						<li><a href="#favicon" class="icon_10" title="favicon"></a></li>
						<li><a href="#favicon" class="icon_11" title="YouTube"></a></li>
						<li><a href="#favicon" class="icon_12" title="favicon"></a></li>
						<li><a href="#favicon" class="icon_13" title="Twitter"></a></li>
						<li><a href="#favicon" class="icon_14" title="favicon"></a></li>
						<li><a href="#favicon" class="icon_15" title="favicon"></a></li>
					</ul>
				</div>
				<div class="list-box twitter-update">
					<h2>Twitter Updates</h2>
					<div class="twitter-info">
						<div class="triangle-bottomleft"></div>
						<div class="post">
							<p><span>&#64;bogothemes</span> there is a new designer in town people!</p>
							<p>Check it out: <a href="#some-link">http://bit.urds</a></p>
						</div>
					</div>
				</div>


			</div>
			<div class="info-holder">
				<div class="info-setter">
					<div class="sub-nav-footer">
						<ul class="nav-list">
							<li><a href="#nav">Home</a></li>
							<li><a href="#nav">About</a></li>
							<li><a href="#nav">Contact</a></li>
							<li><a href="#nav">Blog</a></li>
						</ul>
					</div>
					<div class="info">
						<p>&copy; Copyright 2009. Box&amp;Cube Theme. Designed by <a href="#author">BogoThemes</a>.</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
