<div class="buttons">
    <div class="btn-group">
        <button class="small">small</button>
        <button class="big">big button</button>
        <button class="huge">huge button</button>
    </div>
    <div class="btn-group social">
        <button class="small">small</button>
        <button class="big">icon button</button>
        <button class="huge">icon huge button</button>
    </div>
    <div class="btn-group arrow-left">
        <button class="small">small</button>
        <button class="big">big button</button>
        <button class="huge">huge button</button>
    </div>
    <div class="btn-group arrow-right">
        <button class="small">small</button>
        <button class="big">big button</button>
        <button class="huge">huge button</button>
    </div>
</div>