<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <div class="bar bar-header">
      <div class="side-bar-btn" menu-toggle="left"></div>
      <h1 class="header-title">Title</h1>
      <div class="side-bar-btn btn-refresh"></div>
    </div>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close>
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
