<div class="search-box medium">
    <h2 class="search-title">SEARCH FIELD</h2>
    <button class="search-btn red"></button>
    <form class="search red" action="">
        <label>
            <input class="input-field input-md" type="text"/>
        </label>
    </form>
    <button class="search-btn default"></button>
    <form class="search default" action="">
        <label>
            <input class="input-field input-md" type="text" placeholder="Search"/>
            <ul class="search-submenu dropdown">
                <li class="second-level-item">Contact Us</li>
                <li class="second-level-item">Service</li>
            </ul>
        </label>
    </form>
</div>