<div class="tooltips">
    <div class="tooltip">
        <h5 class="title">Tooltip Alert</h5>
        <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam amet dolorum necessitatibus quas quia repellat rerum
            sed veniam?
        </p>
    </div>
    <div class="tooltip bg-image">
        <h5 class="title">Image Tooltip</h5>
        <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam amet dolorum necessitatibus quas quia repellat rerum
            sed veniam?
        </p>
        <div class="arrow-box">
            <div class="left-bar"></div>
            <div class="arrow"></div>
            <div class="right-bar"></div>
        </div>
    </div>
    <div class="tooltip mini closed">
        <h5 class="title">Mini Tooltip</h5>
        <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam amet dolorum necessitatibus quas quia repellat rerum
            sed veniam?
        </p>
    </div>
    <div class="tooltip mini">
        <h5 class="title">Mini Tooltip</h5>
        <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam amet dolorum necessitatibus quas quia repellat rerum
            sed veniam?
        </p>
    </div>
</div>