<div class="business-card">
    <div class="bc-head">
        <span class="bc-title">Ionut Bondoc</span>
    </div>
    <button class="bc-btn" type="button"><a href="#">Follow</a></button>
    <img src="images/contact-icon.png" class='bc-icon' alt="login form icon"/>
    <div class="bc-content"><h3>Visual Designer</h3></div>
    <ul class="bc-social-links">
        <li class="twitter"><a href="#">989</a></li>
        <li class="facebook"><a href="#">1000</a></li>
        <li class="email"><a href="#">Contact</a></li>
    </ul>
</div>