<div class="post-card">
    <div class="post-head">
        <span class="post-title">Title of the blog post</span>
    </div>
    <div class="post-content">
        <h3>The subtitle of the blog post</h3>
        <div class="date">12.12.2013</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deserunt dolore modi odio saepe sint, tenetur. Dolorem iusto mollitia provident sequi. Doloribus est expedita facilis fuga illum libero recusandae voluptate?</p>
    </div>
    <ul class="post-links">
        <li class="comments"><a href="#"><span>2015</span>Comments</a></li>
        <li class="read-more"><a href="#">Read More</a></li>
    </ul>
</div>