.business-card,
.post-card {
  position: relative;
  border-radius: 10px;
  max-width: 350px;
  min-width: 100px;
  background-color: #ffffff;
  margin: 0 auto;
}
.business-card .bc-head,
.post-card .bc-head,
.business-card .post-head,
.post-card .post-head {
  height: 117px;
  background: url("http://lorempixel.com/output/nature-q-g-640-480-9.jpg") no-repeat;
  background-size: 100% 150%;
  border-radius: 10px 10px 0 0;
}
.business-card .bc-head .bc-title,
.post-card .bc-head .bc-title,
.business-card .post-head .bc-title,
.post-card .post-head .bc-title,
.business-card .bc-head .post-title,
.post-card .bc-head .post-title,
.business-card .post-head .post-title,
.post-card .post-head .post-title {
  display: block;
  position: absolute;
  top: 84px;
  left: 170px;
  z-index: 10;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}
.business-card .bc-head:after,
.post-card .bc-head:after,
.business-card .post-head:after,
.post-card .post-head:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 117px;
  background-color: rgba(225, 10, 0, 0.7);
  border-radius: 10px 10px 0 0;
}
.business-card .bc-icon,
.post-card .bc-icon {
  display: block;
  position: absolute;
  margin: -58px 0 12px 20px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
}
.business-card .bc-btn,
.post-card .bc-btn,
.business-card .read-more,
.post-card .read-more {
  position: absolute;
  width: 84px;
  height: 27px;
  line-height: 27px;
  top: 14px;
  right: 11px;
  border-radius: 10px;
  border: 0;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
  background-color: #ff5454;
  font-size: 12px;
}
.business-card .bc-btn:hover,
.post-card .bc-btn:hover,
.business-card .read-more:hover,
.post-card .read-more:hover {
  background-color: #ff2121;
}
.business-card .bc-btn a,
.post-card .bc-btn a,
.business-card .read-more a,
.post-card .read-more a {
  color: #ffffff;
  text-decoration: none;
}
.business-card .bc-content,
.post-card .bc-content {
  text-align: center;
  padding-left: 81px;
  padding-top: 20px;
  padding-bottom: 29px;
}
.business-card .bc-content h3,
.post-card .bc-content h3,
.business-card .bc-content .post-content h3,
.post-card .bc-content .post-content h3 {
  font-size: 16px;
  color: #7f7270;
}
.business-card .bc-social-links,
.post-card .bc-social-links {
  width: 100%;
  text-align: right;
  overflow: hidden;
  padding-bottom: 15px;
}
.business-card .bc-social-links li,
.post-card .bc-social-links li {
  height: 32px;
  line-height: 32px;
  position: relative;
  float: left;
  list-style: none;
  padding: 3px 0 0 60px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 36px;
}
.business-card .bc-social-links li:last-child,
.post-card .bc-social-links li:last-child {
  margin-right: 0;
}
.business-card .bc-social-links li:last-child a,
.post-card .bc-social-links li:last-child a {
  color: #7f7270;
}
.business-card .bc-social-links li a,
.post-card .bc-social-links li a {
  text-decoration: none;
  color: #cccccc;
}
.business-card .bc-social-links li a:after,
.post-card .bc-social-links li a:after {
  position: absolute;
  left: 60px;
  top: 2px;
  width: 32px;
  height: 32px;
  content: '';
  background: url("../images/s-links.png") no-repeat 1px 1px;
}
.business-card .bc-social-links .twitter a:after,
.post-card .bc-social-links .twitter a:after {
  left: 19px;
  top: 0;
  background: url("../images/s-links.png") no-repeat 1px 1px;
}
.business-card .bc-social-links .facebook a:after,
.post-card .bc-social-links .facebook a:after {
  left: 23px;
  background: url("../images/s-links.png") no-repeat center center;
}
.business-card .bc-social-links .email a:after,
.post-card .bc-social-links .email a:after {
  left: 24px;
  background: url("../images/s-links.png") no-repeat -69px center;
}
.post-card .post-head .post-title {
  top: 80px;
  left: 16px;
  font-weight: bold;
}
.post-card .post-content {
  text-align: justify;
  padding: 16px 5px 50px 15px;
  color: #7f7270;
}
.post-card .post-content h3 {
  display: inline-block;
  margin-bottom: 10px;
}
.post-card .post-content .date {
  float: right;
  font-size: 13px;
  font-weight: bold;
  color: #cccccc;
}
.post-card .post-content p {
  font-size: 13px;
  line-height: 1.2;
}
.post-card .post-links {
  position: relative;
}
.post-card .post-links li {
  list-style: none;
}
.post-card .post-links .comments {
  padding-left: 62px;
  padding-bottom: 26px;
}
.post-card .post-links .comments span {
  margin-right: 5px;
}
.post-card .post-links .comments span:after {
  position: absolute;
  left: 15px;
  bottom: 17px;
  content: '';
  width: 40px;
  height: 33px;
  background: url('../images/comments.png') no-repeat center center;
}
.post-card .post-links .comments a {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #cccccc;
  text-decoration: none;
}
.post-card .post-links .read-more {
  top: -8px;
  right: 11px;
  text-align: center;
}
.post-card .post-links .read-more a {
  font-size: 13px;
  font-weight: bold;
}
.nav-bar {
  position: relative;
  box-sizing: border-box;
  height: 70px;
  max-width: 1170px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
}
.nav-bar .nav-bar_btn-holder {
  float: left;
  width: 10.25641026%;
  height: 70px;
  text-align: center;
  overflow: hidden;
  border-right: 1px solid #3b3b3b;
}
.nav-bar .nav-bar_btn-holder .nav-bar_btn {
  display: inline-block;
  width: 38px;
  height: 28px;
  margin-top: 21px;
  box-shadow: 0 0 20px 3px rgba(247, 247, 247, 0.7) inset;
  border-radius: 5px;
}
.nav-bar .nav-bar_btn-holder .nav-bar_btn .str_helper {
  height: 4px;
  width: 85%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: #e5e5e5 1px 1px, #e5e5e5 2px 2px, #e5e5e5 3px 3px, #e5e5e5 4px 4px, #e5e5e5 5px 5px, #e5e5e5 6px 6px, #e5e5e5 7px 7px, #e5e5e5 8px 8px, #e5e5e5 9px 9px, #e5e5e5 10px 10px, #e5e5e5 11px 11px, #e5e5e5 12px 12px, #e5e5e5 13px 13px, #e5e5e5 14px 14px, #e5e5e5 15px 15px, #e5e5e5 16px 16px, #e5e5e5 17px 17px, #e5e5e5 18px 18px, #e5e5e5 19px 19px, #e5e5e5 20px 20px, #e5e5e5 21px 21px, #e5e5e5 22px 22px, #e5e5e5 23px 23px, #e5e5e5 24px 24px, #e5e5e5 25px 25px, #e5e5e5 26px 26px, #e5e5e5 27px 27px, #e5e5e5 28px 28px, #e5e5e5 29px 29px, #e5e5e5 30px 30px, #e5e5e5 31px 31px, #e5e5e5 32px 32px, #e5e5e5 33px 33px, #e5e5e5 34px 34px, #e5e5e5 35px 35px, #e5e5e5 36px 36px, #e5e5e5 37px 37px, #e5e5e5 38px 38px, #e5e5e5 39px 39px, #e5e5e5 40px 40px, #e5e5e5 41px 41px, #e5e5e5 42px 42px, #e5e5e5 43px 43px, #e5e5e5 44px 44px, #e5e5e5 45px 45px;
}
.nav-bar .nav-bar_btn-holder .nav-bar_btn .str_helper.top {
  margin-top: 5px;
}
.nav-bar .nav-bar_btn-holder .nav-bar_btn .str_helper.middle {
  margin: 4px auto;
}
.nav-bar .nav-bar_items-box {
  float: left;
  position: relative;
  width: 63.24786325%;
}
.nav-bar .nav-bar_items-box .nav-bar_item {
  float: left;
  height: 70px;
  line-height: 70px;
  width: 25%;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.nav-bar .nav-bar_items-box .nav-bar_item:hover {
  background-color: #ff5454;
}
.nav-bar .nav-bar_items-box .nav-bar_item:hover .nb_item-title {
  color: #ffffff;
}
.nav-bar .nav-bar_items-box .nav-bar_item:hover .nb_item-list {
  display: block;
}
.nav-bar .nav-bar_items-box .nav-bar_item .nb_item-title {
  color: #7f7270;
}
.nav-bar .nav-bar_items-box .nav-bar_item .nb_item-title:first-letter {
  text-transform: capitalize;
}
.nav-bar .nav-bar_items-box .nav-bar_item .nb_item-list {
  display: none;
  position: absolute;
  top: 87px;
  width: 25%;
  border-radius: 15px;
  background-color: #5f5250;
}
.nav-bar .nav-bar_items-box .nav-bar_item .nb_item-list:after {
  position: absolute;
  top: -20px;
  left: 43.29%;
  content: '';
  border: 10px solid transparent;
  border-bottom: 10px solid #5f5250;
}
.nav-bar .nav-bar_items-box .nav-bar_item .nb_item-list:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  top: -20px;
  left: 0;
}
.nav-bar .nav-bar_items-box .nav-bar_item .nb_item-list .second-level-item {
  float: left;
  height: 55px;
  line-height: 55px;
  width: 100%;
  border-bottom: 1px solid #544948;
  color: #ffffff;
}
.nav-bar .nav-bar_items-box .nav-bar_item .nb_item-list .second-level-item:hover {
  color: #ff5454;
}
.nav-bar .nav-bar_items-box .nav-bar_item .nb_item-list .second-level-item:last-child {
  border-bottom: none;
}
.nav-bar .nav-bar_search-box {
  float: right;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 15.21367521%;
  min-width: 136px;
  padding: 16.5px 1.28205128% 0 0;
  overflow: hidden;
}
.nav-bar .nav-bar_search-box label {
  position: relative;
  display: block;
  height: 37px;
  overflow: hidden;
}
.nav-bar .nav-bar_search-box .search-icon {
  position: absolute;
  width: 11px;
  height: 14px;
  left: 82.58426966%;
  top: 9.5px;
  font-size: 22px;
  border-radius: 10px 0 6px 0;
  color: #ffffff;
  background-color: #b7b7b7;
  box-shadow: #b7b7b7 1px 1px, #b7b7b7 2px 2px, #b7b7b7 3px 3px, #b7b7b7 4px 4px, #b7b7b7 5px 5px, #b7b7b7 6px 6px, #b7b7b7 7px 7px, #b7b7b7 8px 8px, #b7b7b7 9px 9px, #b7b7b7 10px 10px, #b7b7b7 11px 11px, #b7b7b7 12px 12px, #b7b7b7 13px 13px, #b7b7b7 14px 14px, #b7b7b7 15px 15px, #b7b7b7 16px 16px, #b7b7b7 17px 17px, #b7b7b7 18px 18px, #b7b7b7 19px 19px, #b7b7b7 20px 20px, #b7b7b7 21px 21px, #b7b7b7 22px 22px, #b7b7b7 23px 23px, #b7b7b7 24px 24px, #b7b7b7 25px 25px, #b7b7b7 26px 26px, #b7b7b7 27px 27px, #b7b7b7 28px 28px, #b7b7b7 29px 29px, #b7b7b7 30px 30px, #b7b7b7 31px 31px, #b7b7b7 32px 32px, #b7b7b7 33px 33px, #b7b7b7 34px 34px, #b7b7b7 35px 35px, #b7b7b7 36px 36px;
}
.nav-bar .nav-bar_search-box .search-icon:before {
  position: absolute;
  top: -2px;
  left: -1px;
}
.nav-bar .nav-bar_search-box .nb_search-field {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0 30px 0 15px;
  outline: none;
  border: none;
  font: bold 14px 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #cccccc;
}
.nav-bar .nav-bar_search-box .nb_search-field::-webkit-input-placeholder {
  color: #ffffff;
}
.nav-bar .nav-bar_search-box .nb_search-submenu {
  display: none;
  position: absolute;
  top: 87px;
  width: 15.21367521%;
  min-width: 136px;
  border-radius: 15px;
  background-color: #ffffff;
}
.nav-bar .nav-bar_search-box .nb_search-submenu:after {
  position: absolute;
  top: -20px;
  left: 45%;
  content: '';
  border: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
}
.nav-bar .nav-bar_search-box .nb_search-submenu:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 40px;
  top: -35px;
  left: 0;
}
.nav-bar .nav-bar_search-box .nb_search-submenu .second-level-item {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  line-height: 47px;
  padding-left: 10px;
  border-bottom: 1px solid #544948;
  color: #5f5250;
  cursor: pointer;
  font-weight: bold;
}
.nav-bar .nav-bar_search-box .nb_search-submenu .second-level-item:hover {
  color: #ff5454;
}
.nav-bar .nav-bar_search-box .nb_search-submenu .second-level-item:last-child {
  border-bottom: none;
}
.nav-bar .nav-bar_search-box:hover .nb_search-submenu {
  display: block;
}
@media all and (max-width: 768px) {
  .nav-bar {
    height: auto;
    padding-top: 74px;
    background-color: #ff5454;
  }
  .nav-bar .nav-bar_btn-holder {
    display: none;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    left: -185px;
    border-radius: 5px;
  }
  .nav-bar .nav-bar_items-box {
    width: 100%;
    float: none;
    z-index: 10;
  }
  .nav-bar .nav-bar_items-box .nav-bar_item {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    position: relative;
    height: auto;
    float: none;
  }
  .nav-bar .nav-bar_items-box .nav-bar_item:hover .nb_item-title {
    color: #ff5454;
    background-color: #ffffff;
  }
  .nav-bar .nav-bar_items-box .nav-bar_item:first-child {
    border-top: 1px solid #cccccc;
  }
  .nav-bar .nav-bar_items-box .nav-bar_item:last-child {
    border-bottom: 0;
  }
  .nav-bar .nav-bar_items-box .nav-bar_item .nb_item-list {
    position: static;
    width: 100%;
    border-radius: 0;
  }
  .nav-bar .nav-bar_items-box .nav-bar_item .nb_item-list:after {
    top: 50px;
    left: 48.29%;
  }
  .nav-bar .nav-bar_items-box .nav-bar_item .nb_item-list .second-level-item {
    float: none;
    height: 74px;
    line-height: 74px;
    border-bottom: 1px solid #cccccc;
  }
  .nav-bar .nav-bar_search-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 175px;
    padding-right: 20px;
  }
  .nav-bar .nav-bar_search-box .nb_search-submenu {
    top: 75px;
    border: 1px solid #5f5250;
    z-index: 11;
  }
  .nav-bar .nav-bar_search-box .nb_search-submenu:before {
    position: absolute;
    top: -61.5px;
    left: 45%;
    width: auto;
    z-index: 100;
    content: '';
    border: 11px solid transparent;
    border-bottom: 11px solid #ffffff;
  }
  .nav-bar .nav-bar_search-box .nb_search-submenu:after {
    top: -22.5px;
    content: '';
    border: 11px solid transparent;
    border-bottom: 11px solid #5f5250;
  }
}
.login-form-holder {
  position: relative;
  border-radius: 10px;
  max-width: 370px;
  min-width: 100px;
  background-color: #ffffff;
  margin: 0 auto;
}
.login-form-holder .lf-head {
  height: 117px;
  background: url("http://lorempixel.com/output/nature-q-g-640-480-9.jpg") no-repeat;
  background-size: 100% 150%;
  border-radius: 10px 10px 0 0;
}
.login-form-holder .lf-head span {
  display: block;
  position: absolute;
  top: 26px;
  width: 100%;
  z-index: 10;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}
.login-form-holder .lf-head:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 117px;
  background-color: rgba(225, 10, 0, 0.7);
  border-radius: 10px 10px 0 0;
}
.login-form-holder .lf-icon {
  display: block;
  position: relative;
  margin: -55px auto 11px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
}
.login-form-holder .login-form {
  position: relative;
  width: 81.08108108%;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login-form-holder .login-form input[type='text'],
.login-form-holder .login-form input[type='password'],
.login-form-holder .login-form button {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 0 25px 0 22.85714286%;
  border-radius: 10px;
  margin-bottom: 12px;
  border: 0;
  outline: 0;
  background-color: #cccccc;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
.login-form-holder .login-form input[type='text']::-webkit-input-placeholder,
.login-form-holder .login-form input[type='password']::-webkit-input-placeholder,
.login-form-holder .login-form button::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}
.login-form-holder .login-form input[type='text']::-moz-placeholder,
.login-form-holder .login-form input[type='password']::-moz-placeholder,
.login-form-holder .login-form button::-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}
.login-form-holder .login-form input[type='text']::-moz-placeholder,
.login-form-holder .login-form input[type='password']::-moz-placeholder,
.login-form-holder .login-form button::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}
.login-form-holder .login-form input[type='text']:-ms-input-placeholder,
.login-form-holder .login-form input[type='password']:-ms-input-placeholder,
.login-form-holder .login-form button:-ms-input-placeholder {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}
.login-form-holder .login-form input[type='text']::-webkit-input-placeholder,
.login-form-holder .login-form input[type='password']::-webkit-input-placeholder,
.login-form-holder .login-form button::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}
.login-form-holder .login-form input[type='text']::-moz-placeholder,
.login-form-holder .login-form input[type='password']::-moz-placeholder,
.login-form-holder .login-form button::-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}
.login-form-holder .login-form input[type='text']::-moz-placeholder,
.login-form-holder .login-form input[type='password']::-moz-placeholder,
.login-form-holder .login-form button::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}
.login-form-holder .login-form input[type='text']:-ms-input-placeholder,
.login-form-holder .login-form input[type='password']:-ms-input-placeholder,
.login-form-holder .login-form button:-ms-input-placeholder {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
}
.login-form-holder .login-form input[type='password'],
.login-form-holder .login-form button {
  height: 69px;
}
.login-form-holder .login-form button {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff5454;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
  font-size: 16px;
  margin-bottom: 10px;
}
.login-form-holder .login-form button:hover {
  background-color: #ff2121;
}
.login-form-holder .login-form label {
  display: inline-block;
  position: relative;
  height: 45px;
  line-height: 50px;
  padding: 15px 0 30px 62px;
}
.login-form-holder .login-form label span {
  display: inline-block;
  font-size: 16px;
  color: #cccccc;
}
.login-form-holder .login-form label span:first-letter {
  text-transform: capitalize;
}
.login-form-holder .login-form label:after {
  position: absolute;
  left: 1px;
  top: 18px;
  content: '';
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #f5f5f5;
  cursor: pointer;
}
.login-form-holder .login-form input[type='checkbox']:checked + label > span:before {
  position: absolute;
  content: "";
  background: url('../images/checked.png') no-repeat;
  background-size: cover;
  left: 1px;
  top: 18px;
  z-index: 100;
  width: 39px;
  height: 39px;
}
.login-form-holder .login-form:after {
  content: '';
  top: 25px;
  left: 21px;
  position: absolute;
  width: 69px;
  height: 55px;
  background: url("../images/lf-icons.png") no-repeat left center;
}
.login-form-holder .login-form:before {
  top: 106px;
  left: 21px;
  content: '';
  position: absolute;
  width: 69px;
  height: 55px;
  background: url("../images/lf-icons.png") no-repeat right center;
}
@media all and (max-width: 350px) {
  .login-form input {
    text-align: center;
  }
}
.gallery-holder {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.gallery-holder .gallery {
  position: relative;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto;
}
.gallery-holder .gallery a {
  position: absolute;
  top: 205px;
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}
.gallery-holder .gallery a.prev {
  left: 15px;
}
.gallery-holder .gallery a.next {
  right: 15px;
}
.gallery-holder .gallery ul {
  width: 909%;
  overflow: hidden;
}
.gallery-holder .gallery ul li {
  float: left;
  height: 450px;
  width: 11.00110011%;
  list-style: none;
}
.gallery-holder .gallery .gallery-item .gallery-content {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  padding: 42px 75px;
}
.gallery-holder .gallery .gallery-item .gallery-content .slide-title {
  width: 50%;
}
.gallery-holder .gallery .gallery-item .gallery-content .slide-title span {
  display: inline-block;
  padding: 0 10px;
  font-size: 4.0625em;
  color: #ffffff;
  margin-bottom: 5px;
  background-color: rgba(136, 0, 15, 0.6);
}
.gallery-holder .gallery .gallery-item .gallery-content .description {
  position: absolute;
  color: #ffffff;
  width: 350px;
  font-size: 1.1em;
  line-height: 1.25;
  bottom: 42px;
}
.gallery-holder .paging {
  position: relative;
  display: inline-block;
  left: 46%;
  bottom: 30px;
}
.gallery-holder .paging li {
  float: left;
  list-style: none;
  margin-right: 17px;
}
.gallery-holder .paging li a {
  color: white;
  text-decoration: none;
  font-size: 0.625em;
  cursor: pointer;
}
.gallery-holder .paging li a:after {
  left: 14px;
  top: 4px;
  font-size: 4px;
  content: "\f111";
  cursor: default;
}
.gallery-holder .paging li a:before {
  position: absolute;
  left: 8px;
  top: 2px;
  color: #ffffff;
  content: "\f1db";
}
.gallery-holder .paging li:last-child:after {
  position: absolute;
  right: -4px;
  font-size: 4px;
  font-family: FontAwesome;
  top: 10px;
  color: #ffffff;
  content: "\f111";
}
.gallery-holder .paging li.active a:before {
  content: "\f111";
}
@media all and (max-width: 1080px) {
  .slide-title {
    font-size: 85%;
  }
}
.gallery-item:nth-child(3) {
  background: url('http://lorempixel.com/output/technics-q-c-640-480-8.jpg') no-repeat;
  background-size: 100% 100%;
}
.gallery-item:nth-child(2) {
  background: url('http://lorempixel.com/output/transport-q-c-640-480-8.jpg') no-repeat;
  background-size: 100% 100%;
}
.gallery-item:nth-child(1) {
  background: url('http://lorempixel.com/output/cats-q-c-640-480-4.jpg') no-repeat;
  background-size: 100% 100%;
}
.search-box {
  padding: 35px 30px;
  max-width: 308px;
  min-width: 280px;
  border: 1px #626262 solid;
  margin: 0 auto;
  border-radius: 10px;
  height: 295px;
}
.search-box .search-title {
  display: inline-block;
  height: 57px;
  line-height: 57px;
  padding-left: 15px;
  margin-bottom: 31px;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.search-box .search-btn {
  float: right;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 0;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  color: #7f7270;
}
.search-box .search-btn:after {
  content: "\f002";
  font-size: 32px;
  font-family: FontAwesome;
}
.search-box .search {
  position: relative;
}
.search-box .search:after {
  position: absolute;
  top: 20px;
  right: 26px;
  content: "\f002";
  font-size: 30px;
  font-family: FontAwesome;
  color: #7f7270;
}
.search-box .search input {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 5px 16.23376623% 5px 20px;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
  color: #7f7270;
  outline: none;
}
.search-box .search input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #7f7270;
}
.search-box .search input::-moz-placeholder {
  /* Firefox 18- */
  color: #7f7270;
  font-weight: bold;
  font-size: 16px;
}
.search-box .search input::-moz-placeholder {
  /* Firefox 19+ */
  color: #7f7270;
  font-weight: bold;
  font-size: 16px;
}
.search-box .search input:-ms-input-placeholder {
  color: #7f7270;
  font-weight: bold;
  font-size: 16px;
}
.search-box .search input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #7f7270;
}
.search-box .search input::-moz-placeholder {
  /* Firefox 18- */
  color: #7f7270;
  font-weight: bold;
  font-size: 16px;
}
.search-box .search input::-moz-placeholder {
  /* Firefox 19+ */
  color: #7f7270;
  font-weight: bold;
  font-size: 16px;
}
.search-box .search input:-ms-input-placeholder {
  color: #7f7270;
  font-weight: bold;
  font-size: 16px;
}
.search-box .search .search-submenu {
  position: absolute;
  top: 90px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
}
.search-box .search .search-submenu:after {
  position: absolute;
  top: -20px;
  left: 47%;
  content: '';
  border: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
}
.search-box .search .search-submenu:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 40px;
  top: -35px;
  left: 0;
}
.search-box .search .search-submenu .second-level-item {
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  line-height: 55px;
  padding-left: 20px;
  border-bottom: 1px solid #544948;
  color: #5f5250;
  cursor: pointer;
  font-weight: bold;
  list-style: none;
}
.search-box .search .search-submenu .second-level-item:hover {
  color: #ff5454;
}
.search-box .search .search-submenu .second-level-item:last-child {
  border-bottom: none;
}
.search-box.black-theme .search-btn {
  background-color: #2f2f2f;
}
.search-box.black-theme .search-btn:after {
  color: #ffffff;
}
.search-box.black-theme .search:after {
  color: #ffffff;
}
.search-box.black-theme .search input {
  color: #ffffff;
  background-color: #2f2f2f;
}
.search-box.black-theme .search input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.search-box.black-theme .search input::-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
.search-box.black-theme .search input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
.search-box.black-theme .search input:-ms-input-placeholder {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
.search-box.black-theme .search input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.search-box.black-theme .search input::-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
.search-box.black-theme .search input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
.search-box.black-theme .search input:-ms-input-placeholder {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
.search-box.black-theme .search .search-submenu {
  background-color: #2f2f2f;
}
.search-box.black-theme .search .search-submenu .second-level-item {
  border-color: #626262;
  color: #ffffff;
}
.search-box.black-theme .search .search-submenu:after {
  border-bottom: 10px solid #2f2f2f;
}
.search-box.medium {
  height: 339px;
  position: relative;
  padding: 18px 30px;
}
.search-box.medium .search-title {
  margin-bottom: 7px;
}
.search-box.medium .search-btn.red {
  width: 40px;
  height: 40px;
  background-color: #ff5454;
  margin-top: 12px;
}
.search-box.medium .search-btn.red:after {
  color: #ffffff;
  font-size: 20px;
}
.search-box.medium .search.red {
  margin-bottom: 17px;
}
.search-box.medium .search.red input {
  height: 40px;
  color: #ffffff;
  background-color: #ff5454;
}
.search-box.medium .search.red:after {
  top: 8px;
  right: 10px;
  font-size: 20px;
  color: #ffffff;
}
.search-box.medium .search-btn.default {
  left: 87%;
  position: relative;
  float: none;
  width: 40px;
  height: 40px;
  margin-bottom: 11px;
}
.search-box.medium .search-btn.default:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  height: 42px;
  width: 42px;
  background: url('../images/search-icon(m).png');
}
.search-box.medium .search.default label {
  position: relative;
}
.search-box.medium .search.default input {
  height: 40px;
  line-height: 40px;
}
.search-box.medium .search.default:after {
  content: '';
  top: 1px;
  right: 0;
  position: absolute;
  height: 38px;
  width: 35px;
  background: url('../images/search-icon(m).png') right center;
}
.search-box.medium .search.default .search-submenu {
  top: 58px;
}
.search-box.medium .search.default .search-submenu .second-level-item {
  height: 40px;
  line-height: 40px;
}
.tabs-holder {
  position: relative;
  box-sizing: border-box;
  max-width: 350px;
  min-width: 280px;
  border-radius: 10px;
  padding: 10px 11px 18px 25px;
  background-color: #ffffff;
}
.tabs-holder .tabset {
  overflow: hidden;
  height: 61px;
  line-height: 61px;
  margin-bottom: 10px;
}
.tabs-holder .tabset li {
  float: left;
  width: 33%;
  list-style: none;
}
.tabs-holder .tabset li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #7f7270;
}
.tabs-holder .tabset li a:hover {
  color: #ff5454;
}
.tabs-holder .tab {
  display: none;
}
.tabs-holder .tab .tab-title {
  color: #7f7270;
  margin-bottom: 10px;
}
.tabs-holder .tab p {
  font-size: 14px;
  line-height: 1.5;
}
.tabs-holder .tab p a {
  text-decoration: none;
  color: #ff5454;
}
.tabs-holder .tab.active {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  padding: 0 50px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url(http://i.imgur.com/oavv3DC.jpg);
}
#wrap {
  min-height: 100%;
  padding: 20px 0;
  border-right: 1px solid #3b3b3b;
  background-color: #3b3b3b;
}
