<div class="toggles">
    <div class="toggle-group simple">
        <span class="toggle"></span>
        <span class="toggle"></span>
        <span class="toggle"></span>
        <span class="toggle"></span>
        <span class="toggle"></span>
        <span class="toggle"></span>
        <span class="toggle"></span>
        <span class="toggle"></span>
        <span class="toggle"></span>
        <span class="toggle"></span>
        <span class="toggle bg-red"></span>
        <span class="toggle bg-red"></span>
        <span class="toggle bg-red"></span>
        <span class="toggle bg-red"></span>
        <span class="toggle bg-red"></span>
    </div>
    <div class="toggle-group checkbox">
        <div class="checkbox-sticky">
            <input id="id1" type="checkbox" hidden="hidden"/>
            <label class="tgl-sticky" for="id1">Checked</label>

            <input id="id2" type="checkbox" hidden="hidden"/>
            <label class="tgl-sticky" for="id2">Unchecked</label>
        </div>
        <div class="checkbox-medium">
            <input id="id3" type="checkbox" hidden="hidden"/>
            <label class="tgl-medium-default off" for="id3">
                <span class="toggle"></span>
            </label>

            <input id="id4" type="checkbox" hidden="hidden"/>
            <label class="tgl-medium-text off" for="id4">
                            <span class="status">
                                <span class="on">on</span>
                                <span class="off">off</span>
                            </span>
                <span class="toggle"></span>
            </label>

            <input id="id5" type="checkbox" hidden="hidden"/>
            <label class="tgl-medium-marker off" for="id5">
                            <span class="status">
                                <span class="on"></span>
                                <span class="off"></span>
                            </span>
                <span class="toggle"></span>
            </label>

            <input id="id6" type="checkbox" hidden="hidden"/>
            <label class="tgl-medium-default on" for="id6">
                <span class="toggle"></span>
            </label>

            <input id="id7" type="checkbox" hidden="hidden"/>
            <label class="tgl-medium-text on" for="id7">
                            <span class="status">
                                <span class="on">on</span>
                                <span class="off">off</span>
                            </span>
                <span class="toggle"></span>
            </label>

            <input id="id8" type="checkbox" hidden="hidden"/>
            <label class="tgl-medium-marker on" for="id8">
                             <span class="status">
                                <span class="on"></span>
                                <span class="off"></span>
                             </span>
                <span class="toggle"></span>
            </label>

            <input id="id10" type="checkbox" hidden="hidden"/>
            <label class="tgl-medium-text-marker off" for="id10">
                             <span class="status">
                                <span class="off">off</span>
                            </span>
                <span class="toggle"></span>
            </label>

            <input id="id9" type="checkbox" hidden="hidden"/>
            <label class="tgl-medium-text-marker on" for="id9">
                            <span class="status">
                                <span class="on">on</span>
                            </span>
                <span class="toggle"></span>
            </label>
        </div>
    </div>
</div>