<div class="gallery-holder">
    <div class="gallery">
            <a class="prev fa fa-angle-left" href="#"></a>
            <a class="next fa fa-angle-right" href="#"></a>
            <ul>
                <li class="gallery-item">
                    <div class="gallery-content">
                        <div class="slide-title">
                            <span>FREE</span><span>AWESOME</span><span>FLAT UI KIT</span>
                        </div>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aut consequuntur, deserunt dolor dolores ex facere itaque molestiae quidem quisquam quod quos sequi sit vero? Debitis quaerat quis veritatis.</p>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-content">
                        <strong>The ElevatorPitch iPhone application helps you to make the best of your elevator pitches.</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aut consequuntur, deserunt dolor dolores ex facere itaque molestiae quidem quisquam quod quos sequi sit vero? Debitis quaerat quis veritatis.</p>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-content">
                        <strong>The ElevatorPitch iPhone application helps you to make the best of your elevator pitches.</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aut consequuntur, deserunt dolor dolores ex facere itaque molestiae quidem quisquam quod quos sequi sit vero? Debitis quaerat quis veritatis.</p>
                    </div>
                </li>
            </ul>
        </div>
    <ul class="paging">
        <li class="active"><a href="#" class="fa fa-circle-thin"></a></li>
        <li><a href="#" class="fa fa-circle-thin"></a></li>
        <li><a href="#" class="fa fa-circle-thin"></a></li>
        <li><a href="#" class="fa fa-circle-thin"></a></li>
    </ul>
</div>
