<div class="navigation">
    <div class="nav-group go-to">
        <div class="pagging-wrap">
            <ul class="list">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
            <a href="#" class="go-to-prev">prev</a><a href="#" class="go-to-next">next</a>
        </div>
        <div class="redirect-to">
            <span class="nav-msg">Go to</span>
            <input class="page-number" type="text" value="15"/>
        </div>
    </div>
    <div class="nav-group">
        <div class="simple-page-switcher">
            <button class="ps-prev nav-msg">PREVIOUS PAGE</button>
            <button class="ps-next nav-msg">NEXT PAGE</button>
        </div>
    </div>
    <div class="nav-group simple-pagging-nav">
        <div class="pagging-wrap">
            <ul class="list">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
            <a href="#" class="go-to-prev">prev</a><a href="#" class="go-to-next">next</a>
        </div>
    </div>
    <div class="nav-group">
        <div class="dropdown-btn-nav clearfix">
            <ul class="btn-list">
                <li class="dd-btn black-theme">
                    <span>Item Ordered by Pricing</span>
                    <ul class="dropdown">
                        <li class="second-level-item">By Date</li>
                        <li class="second-level-item">A-Z</li>
                    </ul>
                </li>
                <li class="btn-box-1"></li>
                <li class="btn-box-2"></li>
                <li class="btn-box-3"></li>
            </ul>
        </div>
    </div>
    <div class="nav-group go-to  transparent">
        <div class="pagging-wrap">
            <ul class="list">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
            <a href="#" class="go-to-prev">prev</a><a href="#" class="go-to-next">next</a>
        </div>
        <div class="redirect-to">
            <span class="nav-msg">Go to</span>
            <input class="page-number" type="text" value="15"/>
        </div>
    </div>
    <div class="nav-group  transparent">
        <div class="simple-page-switcher">
            <button class="ps-prev nav-msg">PREVIOUS PAGE</button>
            <button class="ps-next nav-msg">NEXT PAGE</button>
        </div>
    </div>
</div>