<div class="login-form-holder">
    <div class="lf-head">
        <span>Login Here</span>
    </div>
    <img src="images/login-icon.png" class='lf-icon' alt="login form icon"/>
    <form class="login-form">
        <input type="text" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
        <button type="submit">submit</button>
        <input id="remember-me" type="checkbox" value="remember" hidden="hidden" checked/>
        <label class="checkbox-section" for="remember-me"><span>remember</span></label>
    </form>
</div>