<!DOCTYPE html>
<html ng-app="foursquareApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/css/reset.css"/>
    <link rel="stylesheet" href="styles/css/main.css"/>
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>FoursquareApp</title>
</head>
<body ng-controller="mainCtrl">
    <header></header>
    <section id="searchBox">
        <div class="input-group">
            <input type="text" placeholder="Place" ng-model="placeQuery"/>
        </div>
        <div class="input-group">
            <input type="text" placeholder="Category" ng-model="catQuery"/>
        </div>
        <div class="input-group">
            <button ng-click="search()">Search</button>
        </div>
    </section>
    <section id="searchResult">
        <ul>
            <li class="animate-repeat" ng-repeat="place in places">{{place.name}}</li>
        </ul>
    </section>
    <footer></footer>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="js/app.js"></script>
    <script src="js/modules/main/main.controller.js"></script>
    <script src="js/common/services/foursquareApi.service.js"></script>
</body>

</html>