body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

button
  outline none
  border 0
  border-radius 10px
  color #FFF
  background-color #008800
  transition opacity 1s

.loader
  background url('../images/loader.gif') no-repeat 50% 50%